/data
/out
*.pyc
src/compute_nn_fast
src/read_dists
src/nn_temp.fvecs
src/*.o
src/.d
src/*_test
src/pq_encoder
src/huffman_encoder
src/huffman_decoder
src/nn_huffman_estimator
src/prepend_vecsl_meta
src/mst_builder

